.hero {
    display: flex;
    background-color: #d4d4d8;
}

.hero .hero-content {
    width: 40%;
    padding: 4rem;
}
.hero .hero-content h1{
    font-size: 2.5rem;
    font-weight: 500;
}
.hero .hero-content p {
    font-size: medium;
    color: #555;
}
.hero .hero-content a {
    display: inline-block;
    padding: 0.7rem 1.4rem;
    background-color: #161515;
    border-radius: 0.5rem;
    color: #fff;
    font-weight: 600;
    text-decoration: none;
    margin: 2rem 0;
}
.hero .picture-container {
    width: 60%;
    background: url("../../../assets/images/hero_picture_devices.png");
    background-size: 90%;
    background-position: center;
    background-repeat: no-repeat;
}